# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TestForTZ.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UIProjects\TestForTZ\.idea\.idea.TestForTZ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
